@import "../../../styles.scss";
@import "../../../mixins.scss";
@import "../../../variables.scss";


main { 
    height: 100vh; 
    background-color: $dark-gray; 
    text-align: center;

    section.button-search { 
      button { 
        margin-top: $base-spacing; 
        margin-left: $base-spacing;
      }
    }

    section.quote {
        height: 450px;
        width: 350px;
        margin-top: 20px;
      }
      
}