<div class="list">
    <app-quote-list
    ></app-quote-list>
</div>
      


<!-- <div class="list">
        <div class="loading-icon">
          <app-loading-icon *ngIf="loading"></app-loading-icon>
        </div>
        <app-book-list
          *ngIf="!loading"
          [books]="filteredList"
          (addToFavourites)="addToFavourites($event)"
          (removeFromFavourites)="removeFromFavourites($event)"
          (selectBook)="setSelectedBook($event)"
        ></app-book-list>
</div>
       -->