@import "../../../styles.scss";
@import "../../../mixins.scss";
@import "../../../variables.scss";

section {
    background-color: $dark-gray;
    color: white; 
    font-family: $font-family;
    
    nav { 
    height: $navbar-height;
    @include flex-row(space-between);
    align-items: center;
    padding: 0 $base-spacing 0;
    opacity: 0.6; 

    #hamburger { 
        display: none;
    }

    @include md { 

        h1, .icon-bars { 
        display: none;
        }

        #hamburger { 
            display: inline-block;
            text-align: end;
        }
    }

        &:hover { 
            opacity: 1; 
        }
    }
}