@import "../../../variables.scss";
@import "../../../mixins.scss";
@import "../../../variables.scss";

section {
    height: $navbar-height;
    background-color: $alt-grey;
    
    nav { 
    @include flex-row(space-between);
    padding: $base-spacing;
    }
}