$primary-color: #0011aa;
$secondary-color: #0098db;
$cta-color: #7ab800;
$secondary-cta-color: #ffa100;

$light-gray: #e6e6e6;
$dark-gray: #5a5858;
$font-family: "Calibri";
$base-font-size: 1em;
$base-spacing: 10px;
$navbar-height: 75px;
$pending-status: #fff200;
$yellow: yellow;
$green: green;
$red: red;
$alt-grey: #aeaffa;
$panel-height: 280px;